.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0 144px 0;
}

.subtitle-section {
  margin-bottom: 56px ;
}

.jobs .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.jobs .cards .card-item {
  display: flex;
  max-width: 330px;
  flex-direction: column;
  background-color: var(--color-gray-300);
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box; 
  border: 1.5px solid transparent; 
  transition: border 0.3s ease; 
}

.jobs .cards .card-item:hover {
  border-color: var(--color-gray-400);
}

.jobs .cards .card-item img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.jobs .cards .card-item span {
  font: var(--text-sm);
  font-weight: 700;
  margin-bottom: 8px;
}

.jobs .cards .card-item p {
  font: var(--text-sm);
}
